<div class="row container mt-4">
    <div class="col-3">
        <h2>Busquedas</h2>
        <hr>
        <ul class="list-group">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink=""
                routerLinkActive="active" class="list-group-item">Pais
            </li>
            <li routerLinkActive="active" routerLink="capital" class="list-group-item">Buscar capital</li>
            <li routerLinkActive="active" routerLink="region" class="list-group-item">Buscar region</li>
        </ul>
    </div>

    <div class="col">
        <router-outlet></router-outlet>
    </div>

</div>